@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply inline-block;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-6;
  }

  nav.active #units-dropdown {
    @apply !block;
  }

  #days-nav.active #days-dropdown {
    @apply !flex;
  }
}

@layer utilities {
  /* Units dropdown */
  .unit {
    @apply relative font-medium text-base leading-tighter py-2.5 pl-2 pr-8 rounded-lg;
  }

  .active-unit {
    @apply bg-neutral-700 after:content-[''] after:bg-[url('../assets/images/icon-checkmark.svg')] after:block after:h-4.25 after:w-3.5 after:bg-no-repeat after:bg-center after:bg-contain after:absolute after:top-1/2 after:-translate-y-1/2 after:right-2;
  }
}

/* Search dropdown scrollbar styles */
#search-dropdown::-webkit-scrollbar,
#hourly-data::-webkit-scrollbar {
  width: 0.25rem;
}

#search-dropdown::-webkit-scrollbar-track,
#hourly-data::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.75rem;
}

#search-dropdown::-webkit-scrollbar-track {
  margin: 0.5rem 0;
}

#search-dropdown::-webkit-scrollbar-thumb,
#hourly-data::-webkit-scrollbar-thumb {
  background-color: #302f4a;
  border-radius: 0.75rem;
  border: 1px solid #3c3b5e;
}

/* Loading dots styles */
.loading-dot {
  animation: wave 1s infinite ease-in-out;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.3s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.7s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-0.25rem);
  }
}